<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://unpkg.com/aos@2.3.4/dist/aos.css" rel="stylesheet">
    <title>CyberScan Pro</title>
    <link rel="icon" href="{{ url_for('static', filename='logo.png') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<!-- NAVBAR -->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top">
    <div class="container">
        <a class="navbar-brand d-flex align-items-center" href="#">
    <img src="{{ url_for('static', filename='logo.png') }}" alt="logo" class="nav-logo me-2">
    CYBERSCAN
</a>
        <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#nav">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="nav">
            
        </div>
    </div>
</nav>

<section class="hero">
    <div class="overlay"></div>

    <div class="container text-center content">
        <h1 class="glow-text">Next-Gen Cybersecurity Tools</h1>
        <p>Detect malware & Website vulnerabilities instantly with CyberScan</p>
        <a href="/scanner" class="btn btn-main">Explore Tools</a>
    </div>
</section>

<!-- FEATURES SECTION -->
<section class="features">
    <div class="container text-center">
        <h2 class="section-title">Powerful Security Features</h2>

        <div class="row mt-5">

            <div class="col-md-4">
                <div class="col-md-4" data-aos="fade-up"></div>
                <div class="feature-card">
                    <h4>🗂 File Scanner</h4>
                    <p>Detect malware using advanced hash analysis</p>
                </div>
            </div>

            <div class="col-md-4">
                <div class="col-md-4" data-aos="fade-up" data-aos-delay="200"></div>
                <div class="feature-card">
                    <h4>🌐 Website Scanner</h4>
                    <p>Identify vulnerabilities and security flaws</p>
                </div>
            </div>

            <div class="col-md-4">
                <div class="col-md-4" data-aos="fade-up" data-aos-delay="400"></div>
                <div class="feature-card">
                    <h4>💣 Attack Simulator</h4>
                    <p>Understand cyber attacks safely in real-time</p>
                </div>
            </div>

        </div>
    </div>
</section>
<script src="https://unpkg.com/aos@2.3.4/dist/aos.js"></script>

<script>
    AOS.init({
        duration: 1000,
        once: true
    });
</script>
</body>
</html>